*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 60px;
    padding: 40px;
    background-color: rgb(235, 225, 225);
    color: rgb(9, 9, 9);
}


#bt{
    font-weight: bold;
    background-color: rgb(255, 0, 0);
    color: rgb(14, 13, 13);
    width: 6%;
    /* border: 3px solid rgb(53, 240, 6); */
    border-radius: 8%;
    height: 40px;
    /* box-shadow: 0ch; */
   
}
.model{
    background-color: burlywood;
}
.box{
    display:flex;
    justify-content: space-between;
    background-color: black;
    padding: 10px 20px;
    margin: 10px 10px;
}
.child-box{
    background-color: blue;
    width: 40%;
    height: 70px;
    text-align:center;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;


}

button{
    margin: 30px;
    background-color: purple;
    border: 2px solid purple;
    color: white;
    border-radius: 6px;
    padding: 10px
    
}
button:hover{
    background-color: blue;
}
button:focus{
    background-color: burlywood;
}

button:disabled{
    cursor: not-allowed;
}
.grand-father{
    background-color: black;
    padding: 20px;
}
.parent{
    background-color: white;
    width: 100%;
    height: 500px;
    display: flex;
    gap: 5px;
    /* using to contain one after one */
    flex-wrap: wrap;
    /* justify-content: flex-end; */
    /* justify-content:right; */
    /* justify-content: space-between; */
    /* justify-content: center;*/
    /* justify-content:space-around; */
    /* justify-content: space-evenly; */

    /*  how to element to center */
    /* align-items: center; */
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: rgb(11, 11, 193);
    border-radius: 3px;

}
.child{
    background-color: rgba(0, 255, 255, 0.922);
    width: 200px;
    height: 200px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    
    

 }